body, html {
    background-color: #27292d;
    color: white;

    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #434857;
    width: 80%;
}

.breadcrumbs {
    color: #434857;
}

a {
    color: #E64759;
    font-weight: bold;
}

form {
    box-shadow: none;
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #fff;
    background-color: #434857;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.green-bg{
    background-color: #1BC98E;
}
.green-color{
    color: #1BC98E;
}

.red-bg{
    background-color: #E64759 !important;
}
.red-color{
    color: #E64759 !important;
}

.purple-bg{
    background-color: #9F86FF;
}
.purple-color{
    color: #9F86FF;
}

.yellow-bg{
    background-color: #E4D836;
}
.yellow-color{
    color: #E4D836;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    background-color: #f7f7f9;
    border-radius: .25rem;
    display: block;
    white-space: pre-wrap;
}

header {
    color: #27292d !important;
    padding-left: 10px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-bottom: 2px solid #E64759;
}

#sticky-wrapper{
    z-index: 999 !important;
}

#logo {
    text-decoration: none;
    font-size: 2rem;
    color: #27292d;

    font-family: 'Inconsolata', monospace;
}

#logo b {
    color: #E64759;
}

header nav {
    float:right;
    padding: 4px !important;
}

header nav a {
    color: #27292d !important;
}

header nav a:hover {
    color: #E64759 !important;
}

.chrono {
    background-color: #E64759 !important;
    border-radius: 5px;
}

.chrono a, .chrono a:hover{
    color: white !important;
}

@media screen and (max-width: 990px) {
    .navbar-collapse .mr-auto {
        background-color: white;
    }

    .navbar-collapse li {
        border-bottom: 1px solid #434857;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: black;
    }

    .navbar-toggler-icon {
        color: #E64759 !important;
        line-height: 27px;
        font-weight: bold;
    }

    #navbarsExampleDefault{
        margin-top: 46px;
    }

    .navbar-toggleable-md{
        top: 0;
        position: fixed;
        right: 0;
    }
}



.navbar{
    z-index: 999 !important;
}


.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

#main-container{
    margin-top: 20px;
}

footer {
    background: whitesmoke;
    text-align: center;
    color: #27292d;
    padding: 10px;
}

footer a {
    color: #E64759 !important;
}

footer hr {
    margin: 5px auto;
}

.padding10 {
    padding: 10px;
}

.blog-article {
    padding: 20px;
    background-color: #292F33;
}

.blog-article:hover{
    background-color: rgba(25,30,35,.61);
}

.meta {
    border-top: 1px dotted whitesmoke;
    border-bottom: 1px dotted whitesmoke;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #999;
    font-size: 0.9rem;
}

.meta b {
    color: #1BC98E;
}

.blog-article .link{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h3, h3:hover {
    color: white !important;
    text-decoration: none;
}