{% extends "squeleton.html" %}
{% load static %}
{% load replace_space %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <hr>

    <div class="row">
        <div class="col-lg-8 padding10">
            {% for post in posts.all %}
                <div class="blog-article">
                    <a href="{{ category.url }}{{ post.id }}/{{ post.title|replace_space|urlencode|lower }}/"><h3>{{ post.title }}</h3></a>
                    <div class="row">
                        <div class="col-md-6 padding10">
                            <p class="meta">
                                Publié le {{ post.date }}
                                {% for meta in post.meta.all %}
                                    | <b>{{ meta.name }}</b>
                                {% endfor %}
                            </p>
                            <p>
                                {{ post.preview }}
                            </p>
                            <a class="link" href="{{ category.url }}{{ post.id }}/{{ post.title|replace_space|urlencode|lower }}/"> < Lire l'article /></a>
                        </div>
                        <div class="col-md-6 padding10">
                            <a href="{{ category.url }}{{ post.id }}/{{ post.title|replace_space|urlencode|lower }}/">
                                <img alt="titre" src="/{{ post.preview_img.url }}">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

        <div class="col-lg-4 padding10">
            <a data-link-color="#E64759" data-theme="dark" data-chrome="nofooter noborders" class="twitter-timeline" href="https://twitter.com/ZenkSecurity">Tweets by ZenkSecurity</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <br>
{% endblock %}