{% extends "squeleton.html" %}
{% load static %}
{% block content %}
    <h1>Scripts</h1>
    <hr>

    <div class="row">
        <div class="col-md-8 padding10">
            {% for i in "xxxxxxxxxxxxxxxx" %}
                <div class="blog-article">
                    <a href="#"><h3>Mon super titre !</h3></a>
                    <div class="row">
                        <div class="col-sm-6 padding10">
                            <p class="meta">Publié le 07 août 2017 | <b>meta1</b> | <b>meta2</b> | <b>meta3</b></p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            </p>
                            <a class="link" href="#"> < Lire l'article /></a>
                        </div>
                        <div class="col-sm-6 padding10">
                            <a href="#">
                                <img alt="titre" src="{% static '/img/345x240.gif' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

        <div class="col-md-4 padding10">
            <a data-link-color="#E64759" data-theme="dark" data-chrome="nofooter noborders" class="twitter-timeline" href="https://twitter.com/ZenkSecurity">Tweets by ZenkSecurity</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <br>
{% endblock %}