{% extends "squeleton.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <hr>

    <pre>


HHHHHHHHH     HHHHHHHHH                                                                                       EEEEEEEEEEEEEEEEEEEEEERRRRRRRRRRRRRRRRR   RRRRRRRRRRRRRRRRR        OOOOOOOOO     RRRRRRRRRRRRRRRRR
H:::::::H     H:::::::H                                                                                       E::::::::::::::::::::ER::::::::::::::::R  R::::::::::::::::R     OO:::::::::OO   R::::::::::::::::R
H:::::::H     H:::::::H                                                                                       E::::::::::::::::::::ER::::::RRRRRR:::::R R::::::RRRRRR:::::R  OO:::::::::::::OO R::::::RRRRRR:::::R
HH::::::H     H::::::HH                                                                                       EE::::::EEEEEEEEE::::ERR:::::R     R:::::RRR:::::R     R:::::RO:::::::OOO:::::::ORR:::::R     R:::::R
  H:::::H     H:::::H  uuuuuu    uuuuuu     mmmmmmm    mmmmmmm          aaaaaaaaaaaaa  nnnn  nnnnnnnn           E:::::E       EEEEEE  R::::R     R:::::R  R::::R     R:::::RO::::::O   O::::::O  R::::R     R:::::R
  H:::::H     H:::::H  u::::u    u::::u   mm:::::::m  m:::::::mm        a::::::::::::a n:::nn::::::::nn         E:::::E               R::::R     R:::::R  R::::R     R:::::RO:::::O     O:::::O  R::::R     R:::::R
  H::::::HHHHH::::::H  u::::u    u::::u  m::::::::::mm::::::::::m       aaaaaaaaa:::::an::::::::::::::nn        E::::::EEEEEEEEEE     R::::RRRRRR:::::R   R::::RRRRRR:::::R O:::::O     O:::::O  R::::RRRRRR:::::R
  H:::::::::::::::::H  u::::u    u::::u  m::::::::::::::::::::::m                a::::ann:::::::::::::::n       E:::::::::::::::E     R:::::::::::::RR    R:::::::::::::RR  O:::::O     O:::::O  R:::::::::::::RR
  H:::::::::::::::::H  u::::u    u::::u  m:::::mmm::::::mmm:::::m         aaaaaaa:::::a  n:::::nnnn:::::n       E:::::::::::::::E     R::::RRRRRR:::::R   R::::RRRRRR:::::R O:::::O     O:::::O  R::::RRRRRR:::::R
  H::::::HHHHH::::::H  u::::u    u::::u  m::::m   m::::m   m::::m       aa::::::::::::a  n::::n    n::::n       E::::::EEEEEEEEEE     R::::R     R:::::R  R::::R     R:::::RO:::::O     O:::::O  R::::R     R:::::R
  H:::::H     H:::::H  u::::u    u::::u  m::::m   m::::m   m::::m      a::::aaaa::::::a  n::::n    n::::n       E:::::E               R::::R     R:::::R  R::::R     R:::::RO:::::O     O:::::O  R::::R     R:::::R
  H:::::H     H:::::H  u:::::uuuu:::::u  m::::m   m::::m   m::::m     a::::a    a:::::a  n::::n    n::::n       E:::::E       EEEEEE  R::::R     R:::::R  R::::R     R:::::RO::::::O   O::::::O  R::::R     R:::::R
HH::::::H     H::::::HHu:::::::::::::::uum::::m   m::::m   m::::m     a::::a    a:::::a  n::::n    n::::n     EE::::::EEEEEEEE:::::ERR:::::R     R:::::RRR:::::R     R:::::RO:::::::OOO:::::::ORR:::::R     R:::::R
H:::::::H     H:::::::H u:::::::::::::::um::::m   m::::m   m::::m     a:::::aaaa::::::a  n::::n    n::::n     E::::::::::::::::::::ER::::::R     R:::::RR::::::R     R:::::R OO:::::::::::::OO R::::::R     R:::::R
H:::::::H     H:::::::H  uu::::::::uu:::um::::m   m::::m   m::::m      a::::::::::aa:::a n::::n    n::::n     E::::::::::::::::::::ER::::::R     R:::::RR::::::R     R:::::R   OO:::::::::OO   R::::::R     R:::::R
HHHHHHHHH     HHHHHHHHH    uuuuuuuu  uuuummmmmm   mmmmmm   mmmmmm       aaaaaaaaaa  aaaa nnnnnn    nnnnnn     EEEEEEEEEEEEEEEEEEEEEERRRRRRRR     RRRRRRRRRRRRRRR     RRRRRRR     OOOOOOOOO     RRRRRRRR     RRRRRRR

    </pre>

    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}